<div class="row">
  <div class="col-md-3">
    <span class="hipster img-fluid rounded"></span>
  </div>

  <div class="col-md-9">
    <h1 class="display-4"><span jhiTranslate="home.title">Welcome, Zim-TTECH Lost &amp; Found</span> (Zttapp)</h1>

    <p class="lead" jhiTranslate="home.subtitle">Here, you find all lost items that have been found by well wishers!</p>

    <div [ngSwitch]="account !== null">
      <div class="row">
        <div class="col-md-6">
          <div class="alert alert-success" *ngSwitchCase="true">
            <span
              id="home-logged-message"
              *ngIf="account"
              jhiTranslate="home.logged.message"
              [translateValues]="{ username: account.login }"
              >You are logged in as user "{{ account.login }}".</span
            >
          </div>

          <div class="alert alert-success" *ngSwitchCase="false">
            <span>Click <a class="alert-link" (click)="login()">here</a>, if you want to </span>
            <a class="alert-link" (click)="login()">sign in</a>
          </div>

          <div class="alert alert-warning" *ngSwitchCase="false">
            <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
            <a class="alert-link" routerLink="account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
